In [2]:
import numpy as np
import pandas as pd
from sklearn import metrics # Import sklearn metric
df = pd.read_csv("tennis.csv")
value = ["outlook", "temp", "humidity", "windy"]
df

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [3]:
len(df)

14

In [4]:
df.shape

(14, 5)

In [5]:
df.head

<bound method NDFrame.head of      outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no>

In [6]:
from sklearn import preprocessing
string_to_int = preprocessing.LabelEncoder()
df = df.apply(string_to_int.fit_transform)
df

    outlook  temp  humidity  windy  play
0         2     1         0      0     0
1         2     1         0      1     0
2         0     1         0      0     1
3         1     2         0      0     1
4         1     0         1      0     1
5         1     0         1      1     0
6         0     0         1      1     1
7         2     2         0      0     0
8         2     0         1      0     1
9         1     2         1      0     1
10        2     2         1      1     1
11        0     2         0      1     1
12        0     1         1      0     1
13        1     2         0      1     0

In [7]:
#to divide 
feature_cols = ["outlook", "temp", "humidity", "windy"]
X = df[feature_cols]
y = df.play

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.33)

In [9]:
#perform training
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = "entropy", random_state = 100) 

#if criterion = "gini" CART is performed
#if criterion = "chaid" CHAID is performed
#if criterion = "c4.5" C4.5 is performed

classifier.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=100)

In [10]:
#Predict the response for test dataset
y_pred = classifier.predict(X_test)

In [11]:
#Model accuracy

from sklearn.metrics import accuracy_score

print("Accuracy:" , metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8

In [12]:
data_p = pd.DataFrame({"Actual":y_test, "Predicted": y_pred})
data_p

    Actual  Predicted
1        0          1
11       1          1
0        0          0
4        1          1
13       0          0

In [13]:
from sklearn.metrics import classification_report, confusion_matrix

print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[2 1]
 [0 2]]
              precision    recall  f1-score   support

           0       1.00      0.67      0.80         3
           1       0.67      1.00      0.80         2

    accuracy                           0.80         5
   macro avg       0.83      0.83      0.80         5
weighted avg       0.87      0.80      0.80         5

In [15]:
from sklearn.tree import export_graphviz
from sklearn.externals import StringIO
from IPython.display import Image
import pydotplus

dot_data = StringIO()
export_graphviz(classifier, out_file = dot_data, filled = True, rounded = True, special_characters = True, 
                feature_names = value, class_names = ["0", "1"])

graph = pudotplus.graph_from.dot_data(dot_data.get_value())

graph.write_png("PlayTennis.png")

Image(graph.create_png())

#inorder to display the graph we need to install of graphviz package in machines 
#so that sklearn libraries can invoke the graphviz package to display the graph

ImportError: cannot import name 'StringIO' from 'sklearn.externals' (C:\Users\vasu2\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\externals\__init__.py)